* {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-size: 1rem;
}

body {
  background: #0e2130;
  display:flex; 
  flex-direction:column;
  position: relative;
  min-height:100vh;
  position:relative;
}

body::after {
  content: '';
  display: block;
  height: 150px; 
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  align-items: center;
  min-height:50px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

article {
  flex: 1;
  align-items: center;
  flex-direction: row;
  display: flex;
  color: white;
  background: black; /* Old browsers */
  background: -moz-linear-gradient(left, black 0%, black 50%, #0e2130 85%); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left, black 50%, #0e2130 85%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right, black 50%, #0e2130 85%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

section{
  text-align: center;
  padding: 20px 20px;
}

a {
  text-decoration: none;
  color: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#idicons {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 20px;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  flex-grow: 1;
}

#idinstagram {
  text-shadow: 0 0 1px #ff4da6, 0 0 2px #ff4da6, 0 0 3px #ff4da6,
    0 0 4px #ff4da6, 0 0 5px #ff4da6, 0 0 6px #ff4da6, 0 0 7px #ff4da6;
}

#idfacebook {
  text-shadow: 0 0 1px #1877f2, 0 0 2px #1877f2, 0 0 3px #1877f2,
    0 0 4px #1877f2, 0 0 5px #1877f2, 0 0 6px #1877f2, 0 0 7px #1877f2;
}

#idyoutube {
  text-shadow: 0 0 1px #f00, 0 0 2px #f00, 0 0 3px #f00, 0 0 4px #f00,
    0 0 5px #f00, 0 0 6px #f00, 0 0 7px #f00;
}

#idtwitter {
  text-shadow: 0 0 1px #1d9bf0, 0 0 2px #1d9bf0, 0 0 3px #1d9bf0,
    0 0 4px #1d9bf0, 0 0 5px #1d9bf0, 0 0 6px #1d9bf0, 0 0 7px #1d9bf0;
}

#idlinkedin {
  text-shadow: 0 0 1px #0a66c2, 0 0 2px #0a66c2, 0 0 3px #0a66c2,
    0 0 4px #0a66c2, 0 0 5px #0a66c2, 0 0 6px #0a66c2, 0 0 7px #0a66c2;
}

#idgithub {
  text-shadow: 0 0 1px #161b22, 0 0 2px #161b22, 0 0 3px #161b22,
    0 0 4px #161b22, 0 0 5px #161b22, 0 0 6px #161b22, 0 0 7px #161b22;
}

#idstackoverflow {
  text-shadow: 0 0 1px #f48225, 0 0 2px #f48225, 0 0 3px #f48225,
    0 0 4px #f48225, 0 0 5px #f48225, 0 0 6px #f48225, 0 0 7px #f48225;
}

#idtwitch {
  text-shadow: 0 0 1px #7f00e6, 0 0 2px #7f00e6, 0 0 3px #7f00e6,
    0 0 4px #7f00e6, 0 0 5px #8200e6, 0 0 6px #9200e6, 0 0 7px #9200e6;
}

#imagenseccion {
  background-color: black;
}

#tituloredes{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* Diseño responsivo para tablets- Habilitamos menú de dos filas en flex */
@media only screen and (min-width: 0px) and (max-width: 980px) {

  body {
    display:flex;
    flex-direction: column;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 10px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  article {
    flex-direction: column;
    flex-wrap: wrap;
    position: unset;
  }

  #idicons {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
  }

}